@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans+JP:wght@300&family=Poppins:wght@500&family=Rubik+Marker+Hatch&display=swap');

h3 {
    font-family: 'Poppins', sans-serif;
}
label, a {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    width: 20em;
    height: 10em;
    font-size: 16px;
    background-color: #e6f5f1;
}
