body {
    width: 20em;
    height: 11em;
    font-size: 18px;
    background-color: #e6f5f1;

}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .form-label {
    flex: 0 0 30%;
    margin-right: 1rem;
  }
  
  .form-select {
    flex: 1;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .m-3 {
    margin: 1rem !important;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #28a745;
    border-color: #28a745;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-fail {
    background-color: #5b5f5c;border-color: #5b5f5c;
  }
  
  .my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  
  .form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
  }
  
  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  }
  
  .my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .float-start {
    float: left;
    margin-right: 10px;
  }
  
  .float-end {
    float: right;
    margin-left: 10px;
  }
  .imgSmall {
    width: 16px;
    height: 16px;
  }
